## Lecture 11 Tutorial Sheet

**Nested ANOVA: analysis of hierarchical design experiments**

The nested two-way ANOVA model: $y_{ijk} = \mu + \alpha_i + \beta_{j(i)} + \epsilon_{ijk}$

---

### Exercise 1

A production engineer studied the effects of machine model (factor A) and operator (factor B) on the output in a bottling plant: 

- Three bottling machines were used, each a different model, and
- Twelve operators were employed. 

Four operators were assigned to a machine and worked six-hour shifts each. Data on the number of cases produced by each machine and operator were collected for a week. The table below shows the number of cases produced per hour for each day during the week:

In [1]:
data = data.frame(machine = c(rep("M1",5),rep("M2",5),rep("M3",5)),
                  O1 = c(65, 58, 63, 57, 66, 74, 81, 76, 80, 68, 69, 83, 74, 78, 80),
                  O2 = c(68, 62, 75, 64, 70, 69, 76, 80, 78, 73, 63, 70, 72, 68, 75),
                  O3 = c(56, 65, 58, 70, 64, 52, 56, 62, 58, 51, 81, 72, 73, 76, 70),
                  O4 = c(45, 56, 54, 48, 60, 52, 56, 62, 58, 51, 67, 79, 73, 77, 71)               
                )
t(data)

        [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
machine M1   M1   M1   M1   M1   M2   M2   M2   M2   M2    M3    M3    M3
O1      65   58   63   57   66   74   81   76   80   68    69    83    74
O2      68   62   75   64   70   69   76   80   78   73    63    70    72
O3      56   65   58   70   64   52   56   62   58   51    81    72    73
O4      45   56   54   48   60   52   56   62   58   51    67    79    73
        [,14] [,15]
machine M3    M3
O1      78    80
O2      68    75
O3      76    70
O4      77    71

This experiment has two factors, ``machine`` and ``operator``: 

- The first factor has $a = 3$ levels (``M1``, ``M2``, and ``M3``)
- The second factor has $b = 4$ levels (``O1``, ``O2``, ``O3``, and ``O4``). 

There are $n = 5$ replications per each machine and operator combination. This is a nested fixed-factor two-way design, since there are 12 operators assigned to 3 bottling machines: 

- Operators are nested within machines, i.e. operator 1 of machine 1 and operator 1 of machine 2 are different persons.

**Task.** Help the production engineer to investigate the significance of machine model and operator on the output in a bottling plant.

In [2]:
# write your code here

---

### Exercise 2

A rocket propellant manufacturer is studying the burning rate of propellant from three production processes:
- Four batches of propellant are randomly selected from the output of each process, and
- Three determinations of burning rate are made on each batch.

The results are as follows:

In [3]:
data = data.frame(Batch = as.factor(c(1,1,1,2,2,2,3,3,3,4,4,4)),
                  Process1 = c(25,30,26,19,28,20,15,17,14,15,16,13),
                  Process2 = c(19,17,14,23,24,21,18,21,17,35,27,25),
                  Process3 = c(14,15,20,35,21,24,38,54,50,25,29,33)
                 )
t(data)

         [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12]
Batch    1    1    1    2    2    2    3    3    3    4     4     4
Process1 25   30   26   19   28   20   15   17   14   15    16    13
Process2 19   17   14   23   24   21   18   21   17   35    27    25
Process3 14   15   20   35   21   24   38   54   50   25    29    33

**Task.** Analyze the data and draw conclusions.

In [4]:
# write your code here

---

### Exercise 3

To simplify production scheduling, an industrial engineer is studying the possibility of assigning one time standard to a particular class of jobs, believing that differences between jobs are negligible. To see if this simplification is possible, the engineer set up the following experiment: 

- Six jobs are randomly selected.
- Each job is given to a different group of three operators.
- Each operator completes the job twice at different times during the week.
  
The following results are obtained:

In [5]:
data = data.frame(Job = as.factor(c(1:6,1:6)),
                  Operator1 = c(158.3,154.6,162.5,160,156.3,163.7,159.4,154.9,162.6,158.7,158.1,161.0),
                  Operator2 = c(159.2,157.7,161.0,157.5,158.3,162.3,159.6,156.8,158.9,158.9,156.9,160.3),
                  Operator3 = c(158.9,154.8,160.5,161.1,157.7,162.6,157.8,156.3,159.5,158.5,156.9,161.8)
                 )
t(data)

          [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]  [,9]  [,10] [,11]
Job       1     2     3     4     5     6     1     2     3     4     5
Operator1 158.3 154.6 162.5 160.0 156.3 163.7 159.4 154.9 162.6 158.7 158.1
Operator2 159.2 157.7 161.0 157.5 158.3 162.3 159.6 156.8 158.9 158.9 156.9
Operator3 158.9 154.8 160.5 161.1 157.7 162.6 157.8 156.3 159.5 158.5 156.9
          [,12]
Job       6
Operator1 161.0
Operator2 160.3
Operator3 161.8

**Task.** What are your conclusions about the use of a common time standard for all jobs in this class? What value would you use for the standard?

In [6]:
# write your code here

---

### Exercise 4

A process engineer is testing the yield of a product manufactured on three machines. Each machine can be operated at two power settings. Furthermore, a machine has three stations on which the product is formed. An experiment is conducted in which each machine is tested at both power settings, and three observations on yield are taken from each station. The runs are made in random order, and the results are shown below.

In [7]:
data = data.frame(Station  = as.factor(c(rep(1,6),rep(2,6),rep(3,6))),
                  Power    = as.factor(rep(c(1,1,1,2,2,2),3)),
                  Machine1 = c(34.1,30.3,31.6,24.3,26.3,27.1,33.7,34.9,35.0,28.1,29.3,28.6,36.2,36.8,37.1,25.7,26.1,24.9),
                  Machine2 = c(31.1,33.5,34.0,24.1,25.0,26.3,33.1,34.7,33.9,24.1,25.1,27.9,32.8,35.1,34.3,26.0,27.1,23.9),
                  Machine3 = c(32.9,33.0,33.1,24.2,26.1,25.3,33.8,33.4,32.8,23.2,27.4,28.0,33.6,32.8,31.7,24.7,22.0,24.8)
                 )
t(data)

         [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
Station  1    1    1    1    1    1    2    2    2    2     2     2     3
Power    1    1    1    2    2    2    1    1    1    2     2     2     1
Machine1 34.1 30.3 31.6 24.3 26.3 27.1 33.7 34.9 35.0 28.1  29.3  28.6  36.2
Machine2 31.1 33.5 34.0 24.1 25.0 26.3 33.1 34.7 33.9 24.1  25.1  27.9  32.8
Machine3 32.9 33.0 33.1 24.2 26.1 25.3 33.8 33.4 32.8 23.2  27.4  28.0  33.6
         [,14] [,15] [,16] [,17] [,18]
Station  3     3     3     3     3
Power    1     1     2     2     2
Machine1 36.8  37.1  25.7  26.1  24.9
Machine2 35.1  34.3  26.0  27.1  23.9
Machine3 32.8  31.7  24.7  22.0  24.8

**Task.** Analyze this experiment, assuming that ``Power`` and ``Station`` are nested withing ``Machine``.

In [8]:
# write your code here

---