## Lecture 9 Tutorial Sheet

**One-Way ANOVA: analysis of completely randomised single-factor experiments**

---

### Exercise 1

The tensile strength of Portland cement is being studied. Four different mixing techniques can be used economically. A completely randomized experiment was conducted and the following data were collected, for four different mixing techniques:

In [1]:
data = data.frame(x1 = c(3129, 3000, 2865, 2890),
                  x2 = c(3200, 3300, 2975, 3150),
                  x3 = c(2800, 2900, 2985, 3050),
                  x4 = c(2600, 2700, 2600, 2765))
t(data)

   [,1] [,2] [,3] [,4]
x1 3129 3000 2865 2890
x2 3200 3300 2975 3150
x3 2800 2900 2985 3050
x4 2600 2700 2600 2765

**1.1.** Visually compare the mean tensile strengths for the four mixing techniques. What are your conclusions?

In [2]:
# write your code here

**1.2.** Test the hypothesis that mixing techniques affect the strength of the cement. Use $\alpha = 0.05$.

In [3]:
# write your code here

**1.3.** Conduct residual analysis. Comment on the plots.

In [4]:
# write your code here

**1.4.** Suggest three meaningful linear orthogonal single degree of freedom contrasts for follow-up comparisons and carry out the corresponding significance tests. Explain in a few words the tests implied by the contrasts. Use $\alpha = 0.05$.

In [5]:
# write your code here

---

### Exercise 2

A product developer is investigating the tensile strength of a new synthetic fiber that will be used to make cloth
for men's shirts. Strength is usually affected by the percentage of cotton used in the blend of materials for the fiber. The engineer conducts a completely randomized experiment with five levels of cotton content, 15%, 20%, 25%, 30%, and 35%, and replicates the experiment five times. The data is given below:

In [6]:
data = data.frame(w15 = c( 7, 7,15,11,9),
                  w20 = c(12,17,12,18,18),
                  w25 = c(14,19,19,18,18),
                  w30 = c(19,25,22,19,23),
                  w35 = c( 7,10,11,15,11))
t(data)

    [,1] [,2] [,3] [,4] [,5]
w15  7    7   15   11    9
w20 12   17   12   18   18
w25 14   19   19   18   18
w30 19   25   22   19   23
w35  7   10   11   15   11

**2.1.** Visually compare the mean tensile strengths for the four five levels. What are your conclusions?

In [7]:
# write your code here

**2.2.** Is there evidence to support the claim that cotton content affects the mean tensile strength? Use $\alpha = 0.05$.

In [8]:
# write your code here

**2.3.** Analyze the residuals from this experiment and comment on model adequacy.

In [9]:
# write your code here

**2.4.** Suggest four meaningful linear orthogonal single degree of freedom contrasts for follow-up comparisons and carry out the corresponding significance tests. Explain in a few words the tests implied by the contrasts. Use $\alpha = 0.05$.

In [10]:
# write your code here

---

### Exercise 3

A pharmaceutical manufacturer wants to investigate the bioactivity of a new drug. A completely randomized single-factor experiment was conducted with three dosage levels, 20g, 30g, and 40g, and the following results were obtained:

In [11]:
data = data.frame(L20g = c(24,28,37,30),
                  L30g = c(37,44,31,35),
                  L40g = c(42,47,52,38))
t(data)

     [,1] [,2] [,3] [,4]
L20g 24   28   37   30
L30g 37   44   31   35
L40g 42   47   52   38

**3.1.** Visually compare the mean bioactivity for the three dosage levels. What are your conclusions?

In [12]:
# write your code here

**3.2.** Is there evidence to indicate that dosage level affects bioactivity? Use $\alpha = 0.05$.

In [13]:
# write your code here

**3.3.** Analyze the residuals from this experiment and comment on model adequacy.

In [14]:
# write your code here

**3.4.** Suggest two meaningful linear orthogonal single degree of freedom contrasts for follow-up comparisons and carry out the corresponding significance tests. Explain in a few words the tests implied by the contrasts. Use $\alpha = 0.05$.

In [15]:
# write your code here

---

### Exercise 4

A rental car company wants to investigate whether the type of car rented affects the length of the rental period. An experiment is run for one week at a particular location, and 10 rental contracts are selected at random for each car type. The following data were collected:

In [16]:
data = data.frame(Subcompact = c(3,5,3,7,6,5,3,2,1,6),
                  Compact    = c(1,3,4,7,5,6,3,2,1,7),
                  Midsize    = c(4,1,3,5,7,1,2,4,2,7),
                  Fullsize   = c(3,5,7,5,10,3,4,7,2,7))
t(data)

           [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
Subcompact 3    5    3    7     6   5    3    2    1    6
Compact    1    3    4    7     5   6    3    2    1    7
Midsize    4    1    3    5     7   1    2    4    2    7
Fullsize   3    5    7    5    10   3    4    7    2    7

**4.1.** Visually compare the mean length of the rental period for the four types of the rented cars. What are your conclusions?

In [17]:
# write your code here

**4.2.** Is there evidence to support a claim that the type of car rented affects the length of the rental contract? Use $\alpha = 0.05$. If so, which types of cars are responsible for the difference?

In [18]:
# write your code here

**4.3.** Notice that the response variable in this experiment is a [count](https://en.wikipedia.org/wiki/Count_data). Should this cause any potential concerns about the validity of the analysis of variance? You will learn how to analyse count data in the *Linear Modelling* module.

In [19]:
# write your code here

---

### Exercise 5

In heart transplant surgery, the similarity of the donor's tissue type and that of the recipient is of importance because large differences may increase the probability that the transplanted heart is rejected. Table below shows a portion of the survival times (in days) obtained from an observational study of 39 patients following heart transplant surgery. The data are grouped into three categories, according to the degree of mismatch between the donor tissue and the recipient tissue. Investigators would like to determine if the mean survival time changes
with the degree of mismatch.

In [20]:
data = data.frame(low    = c(44,551,127,1,297,46,60,65,12,1350,730,47,994),
                  medium = c(15,280,1024,253,66,29,161,624,39,51,68,836,51),
                  high   = c(3,136,65,25,64,322,23,54,63,50,10,48,26))
t(data)

       [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
low    44   551   127   1  297   46   60   65  12   1350  730    47   994
medium 15   280  1024 253   66   29  161  624  39     51   68   836    51
high    3   136    65  25   64  322   23   54  63     50   10    48    26

**5.1.** Visually compare the mean survival time and variances between three degrees of mismatch. What are your conclusions?

In [21]:
# write your code here

**5.2.** Is there evidence to support a claim that the mean survival time changes with the degree of mismatch? Use $\alpha = 0.05$.

In [22]:
# write your code here

**5.3.** Analyze the residuals and comment on model adequacy. Notice that the data is a [count data](https://en.wikipedia.org/wiki/Count_data). You should clearly see a deviation from the normality assumptions.

In [23]:
# write your code here

**5.4.** Log-transform the response variable and repeat steps 5.2 and 5.3.

In [24]:
# write your code here

---

### Exercise 6

Four catalysts that may affect the concentration of one component in a three-component liquid mixture are being investigated. The following concentrations are obtained from a completely randomized experiment:

In [25]:
data = data.frame(C1 = c(58.2,57.2,58.4,55.8,54.9),
                  C2 = c(56.3,54.5,57.0,55.3,NA),
                  C3 = c(50.1,54.2,55.4,NA,NA),
                  C4 = c(52.9,49.9,50.0,51.7,NA))
t(data)

   [,1] [,2] [,3] [,4] [,5]
C1 58.2 57.2 58.4 55.8 54.9
C2 56.3 54.5 57.0 55.3   NA
C3 50.1 54.2 55.4   NA   NA
C4 52.9 49.9 50.0 51.7   NA

**6.1.** Visually compare the mean affect of each catalyst. What are your conclusions?

In [26]:
# write your code here

**6.2.** Is there evidence to support a claim that the four catalysts have the same effect on the concentration? Use $\alpha = 0.05$. 

**N.B.** Notice that the design of the experiment is not balanced: $n_1 = 5$, $n_2 = 4$, $n_3 = 3$, and $n_4 = 4$. Work out this step by hand first. Then verify your computations using ``R``.

In [27]:
# write your code here

**6.3.** Analyze the residuals from this experiment and comment on model adequacy.

In [28]:
# write your code here

---

### Exercise 7

Show that

$$
SS_T = \sum_{i=1}^{a} \sum_{j=1}^{n_i} (y_{ij} - \bar y_{\bullet\bullet})^2 \qquad 
SS_B = \sum_{i=1}^{a} n_i (\bar y_{i\bullet} - \bar y_{\bullet\bullet})^2 \qquad 
SS_E=\sum_{i=1}^a \sum_{j=1}^{n_i} \left(y_{ij}-\bar y_{i \bullet}\right)^2  
$$

can be equivalently written as 

$$
SS_T = \sum_{i=1}^a \sum_{j=1}^{n_i} y_{ij}^2 - N \bar y_{\bullet\bullet}^2 \qquad 
SS_B = \sum_{i=1}^a n_i\bar y_{i\bullet}^2 - N \bar y_{\bullet\bullet}^2 \qquad
SS_E = \sum_{i=1}^a \sum_{j=1}^{n_i} y_{ij}^2 - \sum_{i=1}^a n_i\bar y_{i\bullet}^2
$$

This exercise should be done by hand.

---

### Exercise 8

In a comparison of the cleaning action of four detergents, 20 pieces of white cloth were first soiled with India ink. The cloths were then washed under controlled conditions with 5 pieces washed by each of the detergents. Unfortunately three pieces of cloth were "lost" in the course of the experiment. Whiteness readings, made on the 17 remaining pieces of cloth, are shown in the table below:

| Detergent A | Detergent B | Detergent C | Detergent D |
|----|----|----|----|
| 77 | 74 | 73 | 76 |
| 81 | 66 | 78 | 85 |
| 61 | 58 | 57 | 77 |
| 76 |    | 69 | 64 |
| 69 |    | 63 |    |

Assuming all whiteness readings to be normally distributed with common variance, test the hypothesis (assuming  $\alpha=0.05$) of no difference between the four brands as regards mean whiteness readings after washing.

This exercise should be done by hand. Then verify your computations with R.

---

### Exercise 9

An experiment was set-up to compare melon varieties. Each variety was grown 6 times under identical conditions with identical feeding patterns. The yields in kg are displayed in the table below:



|              | Variety A | Variety B | Variety C | Variety D |
|--------------|-------|-------|-------|-------|
|              | 25.1  | 40.2  | 18.3  | 28.0  |
|              | 17.2  | 35.3  | 22.6  | 28.6  |
|              | 26.4  | 32.0  | 25.9  | 33.2  |
|              | 16.1  | 36.5  | 15.1  | 31.7  |
|              | 22.2  | 43.3  | 11.4  | 30.3  | 
|              | 15.9  | 37.1  | 23.7  | 27.6  | 
| **Mean**     | 20.48 | 37.40 | 19.50 | 29.90 | 
| **Variance** | 22.05 | 15.42 | 30.92 |  4.98 |


The Grand Mean is 26.82 and the Grand Variance is 72.08.

- Find 95% confidence intervals for each sample mean and for the grand mean. 

- Given that the total sum of squares is $SS_T = 1657.9$ and the between group sum of squares is $SS_B = 1291.0$, carry out a one-way ANOVA to test the hypothesis, with a 95% confidence level, that all the treatments have the same effect.  

- Suggest two meaningful linear orthogonal single degree of freedom contrasts for follow-up comparisons and carry out the corresponding significance tests with a 95% confidence level. Explain in a few words the tests implied by the contrasts. 

This exercise should be done by hand. Then verify your computations with R.

---